h1 {
    color: white;
    text-align: center;
    padding-bottom:40px;
  }
  

#job{
  text-align: left;
}
.team {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 80%; /* default width */
  height: auto;
  padding: 20px;

}
/* apply when the viewport is 700px or less */



  .interns {
 
    padding: 20px; /* decrease padding */
    width: 50%; /* explicit width */
  
    color: white;
    box-sizing: border-box; /* include padding and border in element's total width */
    margin: 0 auto; /* center the boxes */
    
    border-radius: 25px;
    background-image: url('/assets/blue.jpg');
    .intern-image{
      width:56px;
      height: 62px;
      border-radius: 60px;
    }
    #name, #job, #location{
      padding: 1px;
      margin: 0;
      align-content: left;
    }
  }
  
  .interns:nth-child(odd) {
    /* style for odd boxes (1st, 3rd, 5th, etc.) */
    margin-right: auto;
    margin-left: 0;
  }
  
  .interns:nth-child(even) {
    /* style for even boxes (2nd, 4th, 6th, etc.) */
    margin-left: auto;
    margin-right: 0;
  }
  header{
    color: black;
    text-align: center;
    font-size: 50px;
    
  }
  #thanks{
    color: black;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
 
  }
  
  .controls{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
 height: 17px;
 padding:9px;
  font-weight: bold;
    width: 100%;


  }

  