.thanksNote{
    background-image: url('/assets/download.jpg');
    width: 80%;
    height:auto;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}
body  {
    background-image: url('/assets/stars.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
z-index: 2;
  }
  p{
    margin: 20px;
  }