button {
    position: absolute;
    top: 0;
    left: 0;
    width: 1cm;
    height: 1cm;
  }
  a{
    color: white;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    left: 0;

    background-color: black;
    border: 1px solid white;
  }
  @media only screen and (max-width: 600px) {
    .hamburger-button {
        padding: 100px;
      width: 100px;
      height: 100px;
    }
  }
  